
  .FileList-MatchInput
  {
    padding: 5px;
    border-bottom: 1px solid #B6BAC0;
    background: #F4F4F4;
  }
  .FileList-MatchInput INPUT
  {
    width: 100%;
    margin: 0;
    padding: 2px;
    border: 1px solid #BAB6C0;
    padding-left: 20px;
    box-sizing: border-box;
    background: white url(img/input_search_16x16.png) no-repeat left center;

  }