
  #Resources
  {
    float: right;
    margin-left: 5px;
    width: 40%;
    min-width: 200px;
    max-width: 50%;
  }

  #Resources .Basis-Resizer
  {
    position: absolute;
    top: 0;
    left: -8px;
    bottom: 0;
    width: 5px;
  }


