
  <b:resource src="livememo.css"/>
  
  <div{element} class="livememo">
    <textarea{memo} event-focus="focus" event-blur="blur" event-keyup="keyup" event-change="change"/>
    <textarea{shadowMemo} class="shadow"/>
  </div>
