
  <b:resource src="view.css"/>

  <div class="LocalizationPage">
    <div class="Editor-Toolbar">
      <!--{inspectButton}-->
      <!--{cultureList}-->
      <!--{saveButtonPanel}-->
    </div>' +
    <div class="Editor-Content">
      <!--{dictionaryList-->
      <!--{dictionaryEditor}-->
    </div>
  </div>